.todo * {
    box-sizing: border-box;
}

.todo input {
    width: 25%;
    padding: 8px;
    float: left;
    font-size: 16px;
    margin: 2% 0 0 75%;
}

.todo .header div {
    color: white;
    margin: 0;
}

.todo .header {
    display: inline-block;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    margin: 20px 0 0 20px;
    width: 55%;
    height: 180px;
    background-color: #F44336;
}

.todo .header input  {
    width: 65%;
    padding: 10px;
    float: left;
    font-size: 16px;
    margin: 30px 0 0 30px;
}

.todo .header button  {
    border: none;
    border-radius: 3px;
    width: 15%;
    background-color: #D9D9D9;
    padding: 14.5px;
    margin: 30px 30px 0 0px;
    display: inline-block;
    display: inline-block;
    text-align: center;
    color: #555555;
}

.todo ul {
    margin: 0px;
    padding: 0;
    list-style: none;
}

.todo ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    margin: 0 0 0 20px;
    list-style-type: none;
    width: 55%;
}

.todo ul li:nth-child(odd) {
    background: #f9f9f9;
}

.todo ul li:hover {
    background-color: #ddd;
}

.todo .delete {
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px 20px 14px 20px;
    margin-top: 2px;
    border: none;
    border-radius: 3px;
}

.todo .delete:hover {
    background-color: #f44336;
    color: white;
}

.todo ul li button .checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.todo ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}















