
<div class="todo">
    <div class="header">
        <div>My Angular TodoList</div>
        <input type="text" ng-model="newItem.name">
        <button ng-click="add()">Add</button>
    </div>

    <ul>
        <li ng-repeat="item in todos.items ">
            <button ng-click="item.checked = !item.checked"> {{ item.checked ? 'Checked' : 'Unchecked' }}</button>
            {{item.name}}
            <button class="delete" ng-click="delete(item)" hint="Delete this">X</button>
        </li>
    </ul>

</div>
